@model StudentDetails
<div class="row  form-group mb-2">
    <div class="col-md-6">
        <h5 class="card-title">Result</h5>
    </div>

</div>
<div class="col-md-6">

    <form>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" value="@Model.Name" readonly class="form-control-plaintext" id="txtName">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">RegisterNumber</label>
            <div class="col-sm-10">
                <input type="text" value="@Model.RegisterNumber" readonly class="form-control-plaintext" id="txtRegNumber">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label"> Date of Birth</label>
            <div class="col-sm-10">
                <input type="text" value = "@Model.DateOfBirth" readonly class="form-control-plaintext" id="txtDOB">
            </div>
        </div>
        <div class="form-group row">
            <table class="table" id="tblResult">
                <thead>
                    <tr>
                        <th scope="col">Subject</th>
                        <th scope="col">Mark</th>
                        <th scope="col">Grade</th>
                    </tr>
                </thead>
                @foreach(var result in Model.StudentResults)
            {
                <tr>
                    <td>@result.Subject.SubjectName</td>
                    <td>@result.TotalMark</td>
                    <td>@result.Grade</td>
                </tr>
            }
            </table>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Total </label>
            <div class="col-sm-3">
                <input type="text" readonly class="form-control-plaintext" id="txtTotal">
            </div>
            <label for="inputPassword" class="col-sm-2 col-form-label">Grade </label>
            <div class="col-sm-3">
                <input type="text" readonly class="form-control-plaintext" id="txtGrade">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Status </label>
            <div class="col-sm-3">
                <input type="text" readonly class="form-control-plaintext" id="txtStatus">
            </div>
        </div>

    </form>
</div>